<div class="wrapper">
  <h2 class="h2-title">設定</h2>

  <div class="user-container">
    <ul class="user-column">
      <li><%= link_to "アカウント", users_account_path %></li>
      <li><%= link_to "プロフィール", users_profile_path %></li>
    </ul>

    <div class="user-account">
      <div class="account-title-header">
        <h3>プロフィール</h3>
        <%= link_to "編集", users_profile_edit_path %>
      </div>
      <div class="account-content-show">
        <span class="account-content-label">アイコン画像</span>
        <%= image_tag user_image(@user), class: "account-userimage" %>
      </div>
      <div class="account-content-show">
        <span class="account-content-label">名前</span>
        <%= @user.name %>
      </div>
      <div class="account-content-show">
        <span class="account-content-label">自己紹介</span>
        <%= @user.introduction %>
      </div>
    </div>
  </div>

</div>
