<div class="firstview">
  <h1 class="firstview-title">Potepan shareで<br>まだ体験したことのない<br>旅をしよう</h1>
  <div class="fristview-search">
    <%= search_form_for @q, url: rooms_path do |f| %>
      <%= f.search_field :address_cont, placeholder: "エリア名を入力" %><br>
      <%= f.submit '検索' %>
    <% end %>
  </div>
</div>

<div class="wrapper">
  <h2 class="recommend-area-title">おすすめのエリア</h2>
  <div class="recommend-area">
    <%= link_to rooms_path(q: {address_cont: "東京"}), class: "recommend-area-tokyo" do%>
      <span>東京</span>
      <span>tokyo</span>
    <% end %>
    <%= link_to rooms_path(q: {address_cont: "大阪"}), class: "recommend-area-osaka" do%>
      <span>大阪</span>
      <span>Osaka</span>
    <% end %>
    <%= link_to rooms_path(q: {address_cont: "京都"}), class: "recommend-area-kyoto" do%>
      <span>京都</span>
      <span>Kyoto</span>
    <% end %>
    <%= link_to rooms_path(q: {address_cont: "札幌"}), class: "recommend-area-sapporo" do%>
      <span>札幌</span>
      <span>Sapporo</span>
    <% end %>
  </div>
</div>

