<%= form_with model: @reservation, url: reservations_confirm_path, method: :post  do |form| %>
  <div>
    <%= form.date_field :checkin_date %>
  </div>
  <div>
    <%= form.date_field :checkout_date %>
  </div>
  <div>
    <%= form.number_field :people_num %>
  </div>

  <%= form.hidden_field :id, value: @reservation.id %>
  <%= form.hidden_field :room_id, value: @reservation.room_id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit %>
<% end %>
