<h2>予約済み施設一覧</h2>

<% @reservations.each do |reservation| %>
  <div>
    <%= image_tag room_image(reservation.room) %>
  </div>
  <div>
    <%= link_to "#{reservation.room.name}", room_path(reservation.room_id) %><br>
    <%= reservation.room.explanation %><br>
    <%= reservation.payment %><br>
    <%= reservation.checkin_date.strftime('%Y/%m/%d') %><br>
    <%= reservation.checkout_date.strftime('%Y/%m/%d') %><br>
    <%= reservation.updated_at.strftime('%Y/%m/%d %H:%M') %><br>
    <%= link_to "再予約", edit_reservation_path(reservation) %>
    <%= link_to "予約を削除", reservation_path(reservation), method: :delete %>
  </div>
  <br>
<% end %>
