<h2>予約済み施設一覧</h2>

<% @reservations.each do |reservation| %>
  <div>
    <%= link_to "#{reservation.room.name}", reservation_path(reservation.id) %><br>
    <%= reservation.checkin_date %><br>
    <%= reservation.checkout_date %><br>
    <%= link_to "再予約", edit_reservation_path(reservation) %>
    <%= link_to "予約を削除", reservation_path(reservation), method: :delete %>
  </div>
  <br>
<% end %>
