<h2>施設編集ページ</h2>

<%= form_with model:@room do |form| %>

  <div>
    <%= form.label :name ,"施設名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :explanation ,"施設詳細" %>
    <%= form.text_area :explanation %>
  </div>

  <div>
    <%= form.label :price ,"料金" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :address ,"住所" %>
    <%= form.text_field :address %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit "保存" %>
    <%= link_to "キャンセル", :back %>
  </div>

<% end %>
