<h2>施設編集ページ</h2>

<%= form_with model:@room do |f| %>

  <div>
    <%= f.label :name ,"施設名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :explanation ,"施設詳細" %>
    <%= f.text_area :explanation %>
  </div>

  <div>
    <%= f.label :price ,"料金" %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :address ,"住所" %>
    <%= f.text_field :address %>
  </div>



  <div>
    <%= f.submit "保存" %>
    <%= link_to "キャンセル", :back %>
  </div>

<% end %>
