<h2>施設詳細ページ</h2>

<%= link_to "戻る", :back %>
<%= link_to "編集", edit_room_path(@room) if user_signed_in? && @room.user.id == current_user.id %>

<div>
  <%= image_tag room_image(@room) %>
</div>

<div>
  <%= @room.name %>
</div>
<div>
  <%= @room.address %>
  <%= @room.price %>
</div>
<div>
  <%= @room.explanation %>
</div>

<%= form_with model: @reservation, url: reservations_confirm_path do |form| %>
  <div>
    <%= form.date_field :checkin_date %>
  </div>
  <div>
    <%= form.date_field :checkout_date %>
  </div>
  <div>
    <%= form.number_field :people_num %>
  </div>

  <% if user_signed_in? %>
    <%= form.hidden_field :room_id, value: @room.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit value = "予約する" %>
  <% else %>
    <%= link_to "ログイン", user_session_path %>
  <% end %>
<% end %>
