<h2>施設詳細ページ</h2>
<%= @room.id %>のページです<br>


<%=  link_to "戻る", :back %>
<%=  link_to "編集", edit_room_path %>
<%=  link_to "削除", room_path, method: :delete %>

<div>
  <%= @room.name %>
</div>

<div>
  <%= @room.address %>
  <%= @room.price %>
</div>

<div>
  <%= @room.explanation %>
</div>
