<%= search_form_for @q, url: rooms_path do |f| %>
  <div class="rooms-serach">
    <%= f.search_field :address_cont, placeholder: "エリア名を入力" %>
    <%= f.search_field :name_or_explanation_cont, placeholder: "キーワード名を入力" %>
    <%= f.submit '検索' %>
  </div>
<% end %>


<div class="wrapper">

  <div class="room-show-control">
    <%= link_to "戻る", :back %>
    <%= link_to "編集", edit_room_path(@room) if user_signed_in? && @room.user.id == current_user.id %>
  </div>

  <div class="room-show-container">
    <div class="room-show-image">
      <%= image_tag room_image(@room) %>
    </div>
    <div class="room-show-textcontainer">
      <div class="name-price">
        <p class="room-show-name"><%= @room.name %></p>
        <p class="room-show-price">¥<%= @room.price %>~</p>
      </div>
        <p class="room-show-address"><%= @room.address %></p>
        <p class="room-show-explanation"><%= @room.explanation %></p>

      <%= form_with model: @reservation, url: reservations_confirm_path do |form| %>
        <div class="reservation-input-container">
          <div>
            <label for="reservation-checkin_date">チェックイン</label>
            <%= form.date_field :checkin_date, id: "reservation-checkin_date", class: "checkin" %>
          </div>
          <div>
            <label for="reservation-checkout_date">チェックアウト</label>
            <%= form.date_field :checkout_date, id: "reservation-checkout_date", class: "checkout" %>
          </div>
          <div>
            <label for="reservation-people_num">人数</label>
            <%= form.number_field :people_num, id: "reservation-people_num", class: "people_num", min: "1", placeholder: "人" %>
          </div>
        </div>

        <% if user_signed_in? %>
          <%= form.hidden_field :room_id, value: @room.id %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit value = "予約する", class: "reservation-button" %>
        <% else %>
          <%= link_to "ログイン", user_session_path, class: "reservation-button" %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
