<h2>施設詳細ページ</h2>

<%= link_to "戻る", :back %>
<%= link_to "編集", edit_room_path(@room) %>
<%= link_to "削除", room_path(@room), method: :delete %>

<div>
  <% if @room.room_image? %>  
    <%= image_tag @room.room_image.url %>
  <% end %>
</div>

<div>
  <%= @room.name %>
</div>
<div>
  <%= @room.address %>
  <%= @room.price %>
</div>
<div>
  <%= @room.explanation %>
</div>


<%= form_with model: @reservation, url: reservations_confirm_path do |form| %>
  <div>
    <%= form.date_field :checkin_date %>
  </div>
  <div>
    <%= form.date_field :checkout_date %>
  </div>
  <div>
    <%= form.number_field :people_num %>
  </div>

  <%= form.hidden_field :room_id, value: @room.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit value = "予約する" %>
<% end %>
